@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
header {
  grid-column: 1/4;
  grid-row: 1/2;
  background-color: #414141;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  overflow: hidden;
}
header ul {
  display: flex;
  width: 40%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
header ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7vw;
  height: 90%;
  list-style: none;
  overflow: hidden;
  cursor: pointer;
}
header ul li:hover {
  background-color: orange;
  transform: scale(1.1);
  transition: 0.6s;
  border-radius: 10px;
}
header ul li:hover i {
  color: black;
}
header ul li i {
  margin-right: 10%;
  font-size: 1.5vw;
  color: orange;
}
header a {
  color: white;
  text-decoration: none;
  font-size: 1.2vw;
}
header button {
  height: 90%;
  width: 8%;
  background-color: orange;
  outline: none;
  border: none;
  font-size: 1.2vw;
  color: white;
  border-radius: 10px;
  margin-right: 2%;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
header button:hover {
  background-color: grey;
  transform: scale(1.1);
  transition: 0.6s;
}

main {
  grid-row: 2;
  grid-column: 2/3;
}
main .bg {
  grid-row: 2/3;
  position: relative;
  filter: drop-shadow(2px 2px 10px black);
}
main .bg img {
  width: 100%;
  height: 80vh;
  border-radius: 0px 0px 10px 10px;
}
main .bg form {
  border: 1px #c3c3c3 solid;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 40%;
  box-shadow: 2px 2px 10px black;
  border-radius: 10px;
  position: absolute;
  left: 3%;
  top: 20%;
}
main .bg form .form-container {
  height: 80%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-left: 2%;
  padding-right: 2%;
}
main .bg form .form-container .checkin-out, main .bg form .form-container .adult-kids {
  display: flex;
  flex-direction: row;
  height: 40%;
  align-items: center;
  justify-content: space-between;
}
main .bg form .form-container .checkin-out div, main .bg form .form-container .adult-kids div {
  width: 49%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .bg form .form-container .checkin-out input, main .bg form .form-container .adult-kids input {
  font-size: 1.1vw;
  width: 60%;
}
main .bg form .form-container .checkin-out label, main .bg form .form-container .adult-kids label {
  font-size: 1.2vw;
  width: 38%;
  display: flex;
  justify-content: space-between;
}
main .bg form h1 {
  background-color: orange;
  border-radius: 10px;
  overflow: hidden;
  padding: 3% 3%;
}
main .bg form h1 i {
  margin-right: 2%;
}
main .bg form button {
  width: 30%;
  padding: 1.2% 0%;
  margin-left: 3%;
  margin-bottom: 1%;
  background-color: orange;
  border: none;
  outline: none;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
main .bg form button:hover {
  background-color: gray;
  transform: scale(1.1);
  transition: 0.6s;
}
main .bg form button i {
  margin-right: 5%;
}

.rooms {
  grid-row: 3/4;
  height: 100%;
}
.rooms .rooms-title {
  line-height: 4vh;
  font-size: 1.5vw;
  padding-top: 2%;
  padding-bottom: 2%;
}
.rooms .rooms-container {
  display: flex;
  width: 100%;
  height: 80%;
  justify-content: space-between;
}
.rooms .rooms-container .single-room, .rooms .rooms-container .double-room, .rooms .rooms-container .deluxe-room {
  border: 1px #e2e2e2 solid;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.1vw;
  box-shadow: 4px 4px 10px black;
  border-radius: 10px;
}
.rooms .rooms-container .single-room img, .rooms .rooms-container .double-room img, .rooms .rooms-container .deluxe-room img {
  width: 100%;
  border-radius: 10px;
}
.rooms .rooms-container .single-room button, .rooms .rooms-container .double-room button, .rooms .rooms-container .deluxe-room button {
  padding: 2% 3%;
  background-color: black;
  color: white;
  font-size: 1.2vw;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
}
.rooms .rooms-container .single-room button:hover, .rooms .rooms-container .double-room button:hover, .rooms .rooms-container .deluxe-room button:hover {
  background-color: orange;
  transition: 0.6s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: 5vw 1fr 5vw;
  grid-template-rows: 5vh 80vh 80vh;
  height: 2000px;
}

/*# sourceMappingURL=main.css.map */
