header ul li:hover{
    background-color: orange;
    transform: scale(1.1);
    transition: 0.6s;
    border-radius: 10px;
    i{
        color: black;
    }
}
header button:hover{
        background-color: grey;    
    transform: scale(1.1);
    transition: 0.6s;
}
// ========== bg form ============
.bg form button:hover{
    background-color: gray;
    transform: scale(1.1);
    transition: 0.6s;
}