@import "./var";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import "./nav";
@import "./animation";
@import "./main-container";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-columns: 5vw 1fr 5vw;
    // grid-template-rows: 5vh 80vh 100vh 85vh 80vh 40vh;
     grid-template-rows: 5vh 80vh 1fr;

}
